.error-page {
  text-align: center;
  margin-top: 7em;
  margin-bottom: 7em;
  font-weight: 500;
}

.error-msg {
  font-weight: bold;
  font-size: 36px;
  margin-top: 2em;
  margin-bottom: 5em;
  color: #ff6060;
}

.back-to-home {
  font-size: 18px;
  color: #ff6060;
  text-decoration: underline;
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 600px) {
  .error-page img {
    width: 50%;
  }

  .error-msg {
    font-size: 18px;
  }
}
