.about-page {
  margin-right: 4em;
  margin-left: 4em;
  margin-bottom: 2em;
  height: 200px;
  border-radius: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/snow-mountain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
