.about-page .dropdown {
  margin-right: 6em;
  margin-left: 6em;
  font-size: 24px;
  width: initial;
}

.about-banner {
  margin-right: 4em;
  margin-left: 4em;
  margin-bottom: 2em;
  height: 200px;
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 600px) {
  .about-banner {
    height: 223px;
    margin: 15px;
    border-radius: 5px;
    text-align: left;
    justify-content: left;
    margin-bottom: 0;
  }
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 600px) {
  .about-page .dropdown {
    margin: 15px;
    font-size: 12px;
  }

  .about-page .dropdown-title {
    font-size: 13px;
  }
}
