.banner {
  text-align: center;
  margin-right: 4em;
  margin-left: 4em;
  margin-bottom: 2em;
  height: 180px;
  border-radius: 25px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/foggymountain.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 32px;
  color: white;
}
