.header {
  margin: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
}

.lien-nav {
  font-weight: 500;
  font-size: 24px;
  display: inline;
  margin: 25px;
}

.navlink {
  text-decoration: none;
  color: #ff6060;
}

/* RESPONSIVE MOBILE */

@media only screen and (max-width: 600px) {
  .header {
    margin: 15px;
  }

  .redirection-home-logo {
    width: 45%;
  }
  .redirection-home-logo img {
    width: 100%;
  }

  .lien-nav {
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
  }
}
